       <div id="{{this.id}}" class="panel-body">{{this.bookName}}
        {{#if this.completed}}
            <span class="pull-right">Completed!</span>
        {{else}}
            <i id="cancel" class="fa fa-times pull-right cancel" aria-hidden="true"></i>
        {{/if}}
        </div>
  