<h2>Update contact information</h2>
  <form id="options">
    <div class="form-group">
      <label for="fullName">Full Name:</label>
      <input type="text" class="form-control" id="fullName" placeholder="Enter full name">
      <p>Current : <span id ="cName">{{fullName}}</span></p>
    </div>
    <div class="form-group">
      <label for="city">City:</label>
      <input type="text" class="form-control" id="city" placeholder="Enter city">
      <p>Current : <span id ="cCity">{{city}}</span></p>
    </div>
    <div class="form-group">
      <label for="state">State:</label>
      <input type="text" class="form-control" id="state" placeholder="Enter state">
      <p>Current : <span id ="cState">{{state}}</span></p>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>