
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}


.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

/* force scrollbar */
html { overflow-y: scroll; }

body { 
  font-family: sans-serif; 
  padding: 50px;
  background: lightgreen;
  }

/* ---- grid ---- */

* { box-sizing: border-box; }

#newbook {
  margin-top: 20px;
}

.panel-body:hover{
  background: powderblue;
}
.panel-body {
  margin: 0 auto;
}

#bookname {
  margin-top: 20px;
}

.grid {
  background: #EEE;
  max-width: 1200px;
  margin: 0 auto;
  margin-top:20px;

}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 180px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin-bottom: 10px;
}

.grid-item img {
  display: block;
  width: 100%;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


